.sidebar {
  max-height: 1024px;
  background-color: #F7F7F7;
  @apply flex flex-col rounded-3xl w-full;
}

@media screen(md) {
  .sidebar {
    width: 100%;
    max-width: 304px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.header h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;;
  color: #000000;
  padding-left:15px;
  @apply hidden md:block;
}

.header p{
  color: #000000;
  @apply text-xl leading-6;
}

.menu {
 @apply grow;
 padding: 0 15px;
}

.menu li {
  height: 56px;
  border-radius: 12px;
}

.menu a {
  display: flex;
  padding: 16px;
  @apply font-bold text-base;
}

.menu svg {
  @apply md:mr-6
}

.menu span {
  @apply hidden md:block;
}

.menu li:hover {
  background-color: #503E9D;
}

.active{
  background-color: #503E9D;
}

.active a,
.menu li:hover a {
  color: white;
}

.footer {
  padding: 32px;
}