.navbar{
  display:flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.navbar ul {
  display: flex; 
  gap: 1rem;
}

.navbar li {
  display: flex;
  align-items: center;
}

.nav a {
  display:flex;
  align-items: center;
}

.nav a svg:first-child {  
  margin-right: 1rem;
}

.nav a svg:last-child {
  margin-left: 1rem;
}

.filterButton, .cartButton {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterButton {
  background-color: #503E9D; 
}

.cartButton {
  background-color: #FB6D3A;
}
