.header {
  display: flex;
  margin-bottom: 32px;
}

.header h2 {
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.header a {
  color: #503E9D;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  align-items: center;
}

.header svg {
  margin-left: 8px;
}

.container {
  @apply flex gap-8 justify-between flex-col md:flex-row;
}