.infomation {
  display: flex;
  font-weight: 400;
  font-size: 0.75rem;
  color: #626264;
  margin-left: 10px;
}
.infomation svg {
  margin-right: 8px;
}

.infomation:first-child{
  margin-left: 0px;
}

.information span {
  font-weight: 600;
  margin-right: 5px;
  color: #182135;
  /* line-height: 1rem; */
}

.information div div:first-child {
  margin-left: 0px;
}